<div class="container">
	<div class="row container-elemento">
		<div class="col-lg-7">
                {{ content.field_imaxe_principal_elemento }}
		</div>
		<div class="col-lg-5">
            <div class="panel panel-default">
        	    <div class="panel-body">
               		 <h3>Ficha</h3>
           	    </div>
                    <div class="panel-footer">Número elemento: {{ node.field_numero_elemento.value }}</div>
                    <div class="panel-footer">Tipo: {{ node.field_tipo.0.entity.label }}</div>
                    <div class="panel-footer">Localización: {{ node.field_localizacion.value }}</div>
                    <div class="panel-footer">Accesibilidade: {{ node.field_accesibilidade.0.entity.label }}</div>
                    <div class="panel-footer">Estado: {{ node.field_estado.0.entity.label }}</div>
                    <div class="panel-footer">Século: {{ node.field_seculo.0.entity.label }}</div>
                    <div class="panel-footer">Ano: {{ node.field_ano.value }}</div>
                    <div class="panel-footer">Propiedade: {{ node.field_propiedade.0.entity.label }}</div>
                    <div class="panel-footer">Uso: {{ node.field_uso.0.entity.label }}</div>
                    <div class="panel-footer">Tipo de protección: {{ node.field_tipo_proteccion.0.entity.label }}</div>
                    <div class="panel-footer">Xeolocalización: {{  node.field_xeolocalizacion_elementos.lat }}  {{  node.field_xeolocalizacion_elementos.lon }}</div>
               	</div>
		</div>
	</div>

    <div class="row" style="margin-top: 50px;">
        <div class="col-lg-7">
            {{ node.body.value|raw }}
        </div>
        <div class="col-lg-5">
              {{ content.field_xeolocalizacion_elementos|raw }}
            <br/>
            <p class="text-center" class="btn-osm">
                <a target="_blank" href="https://www.openstreetmap.org/?mlat={{  node.field_xeolocalizacion_elementos.lat }}&mlon={{  node.field_xeolocalizacion_elementos.lon }}" class="btn btn-primary btn-sm">
                    Ver en OSM
                </a>
            </p>
        </div>
    </div>
</div>

<hr class="horizontal-hr-element" />
