<div id="front-image" class="full-width col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <h1 class="text-center"> {{ site_name }}  </h1>
        <h2 class="text-center"> {{ site_slogan }}  </h2>
</div>


<div id="front-blocks" class="container">
    <div class="col-lg-4 col-md-4">
        <h3 class="text-center">{{ front_left_title }}</h3>
        <p class="text-justify">{{ front_left_text }}</p>
        <p class="text-center">
            <a class="btn btn-default btn-sm" href="{{ front_left_link_target }}">{{ front_left_link_title }}</a>
        </p>
    </div>

    <div class="col-lg-4 col-md-4">
        <h3 class="text-center">{{ front_center_title }}</h3>
        <p class="text-justify">{{ front_center_text }}</p>
        <p class="text-center">
            <a class="btn btn-default btn-sm" href="{{ front_center_link_target }}">{{ front_center_link_title }}</a>
        </p>
    </div>

    <div class="col-lg-4 col-md-4">
        <h3 class="text-center">{{ front_right_title }}</h3>
        <p class="text-justify">{{ front_right_text }}</p>
        <p class="text-center">
            <a class="btn btn-default btn-sm" href="{{ front_right_link_target }}">{{ front_right_link_title }}</a>
        </p>
    </div>
</div>
<hr/>
<div class="container">
    <p class="text-center"><a href="http://www.xeopesca.gal">Asociación Xeopesca</a> - <a href="/contido/termos-e-condicions-uso">Termos e condicións de uso</a></p>
    <p class="text-center">Feito en Combarro, Melide, Ames e Mugardos con paixón e software libre.</p>
</div>